.container{
    width:auto;
    height:750px;
    border:solid black 2px;
    background-color:aqua;

    }

    .prasu{
        padding-top 30px;;
        display: flex;
        justify-content: space-evenly;
    }
    #s-details{
        width: 450px;
     display:inline-block;
        height: 400px;
    }
    #spic
    
        width: 500px;
        opcity: 8.4em;
        height: 400px;
    }
li{
    border: solid;
    background-color: aquamarine;
    width: 150px;
    margin: 20px 0;
}
header{
    text-align: center;
    font-size: 100px;
}
